.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: fit-content;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.actionArea{
    width: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button {
    border: none;
    border-radius: 40%;
}


.edit-button{
    background-color: yellow;
    height: fit-content;

    i {
        font-size: 30px;   
        color: #ffffff;
    }

    :hover{
        background-color: #009879;
        border: none;
        border-radius: 40%;
        height: fit-content;
    }
}

.delete-button{
    background-color: rgb(202, 0, 165);
    height: fit-content;

    i {
        font-size: 30px;
        color: #ffffff; 
    }
    :hover{
        background-color: #ff002b;
        border: none;
        border-radius: 40%;
        height: fit-content;
    }
}